//Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

//Variables
@import 'variables';

//Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~vuetify/dist/vuetify.min.css';

.priority-1{
    color: #CCCCCC;
}
.priority-2{
    color: #535353;

}
.priority-3{
    color: #9D3A25;
}
.priority-4{
    color: #DB3F1F;
}

.theme--light.v-application{
    background-color: #F8FAFB !important;
}


.row{
    margin-top: 0;
    margin-bottom: 0;
}

.bg{
    border-radius: 20px;
    flex-grow: 1;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.aside{
    height: 100vh;
    &.col{
        max-width: 120px;
    }
}



.left-menu{
    background-color: #fff;
    //box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 20px;
    //min-height: 700px;
    height: 100%;
    .nav{
        //height: 100%;
        //flex: 1;
        &-link{
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: rgba(0,0,0,.6);
            fill: rgba(0,0,0,.6);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            text-transform: uppercase;
            width: 75px;
            height: 75px;
            border-radius: 15px;
            margin-bottom: 10px;
            text-decoration: none;

            svg{
                display: block;
                width: 30px;
                height: 30px;
                margin-bottom: 10px;
            }

            &:hover,
            &.router-link-active{
                background-color: #DB3F1F;
                color: #fff;
                fill: #fff;
            }

        }
    }

    .user-img{
        border: 2px solid rgba(0,0,0,.6);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        .v-image__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .logout-btn{
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: rgba(0,0,0,.6);
        fill: rgba(0,0,0,.6);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        text-transform: uppercase;
        width: 75px;
        height: 75px;
        border-radius: 15px;

        svg{
            display: block;
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }

        &:hover,
        &.router-link-active{
            background-color: #DB3F1F;
            color: #fff;
            fill: #fff;
        }
    }
}

.add-task.col{
    //display: flex;
    //flex-direction: column;
    max-width: 400px;

    label{
        margin-bottom: 2px;
        font-weight: bold;
        margin-left: 20px;
    }
    input,
    textarea,
    select{
        //border-color: #F8FAFB;
        //background-color: #F8FAFB;
    }
    button{
        flex: none;
    }
}

.profile{
    &__img{
        .v-image__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid rgba(0,0,0,.6);
        }
        a{
            display: block;
        }
    }
    &__information{
        .value{
            background: #F8FAFB;
            border-radius: 10px;
        }
    }
    .change-password{

        &__title{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;
            color: #DB3F1F;
            cursor: pointer;

        }

        button{
            width: 100%;
        }
    }
}



.task-page{
    &__title{

    }

    &__deadline{
        font-size: 0.8rem;
        margin-bottom: 0.35rem;
        font-weight: 600;
    }

    &__text{
        font-size: 0.875rem;
        color: #242432;
        margin-bottom: 0.3rem !important;
    }

    &__priority{
        font-size: 0.8rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
        color: #db3f1f;
    }

    &__created{
        font-size: 0.8rem;
        margin-bottom: 2.9rem;
        font-weight: 600;

    }

    .responsibles{
        margin-bottom: 2.5rem;
        &__title{
            font-weight: 600;
            font-size: 0.8rem;
            //line-height: 14px;
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0;
            li{
                margin-right: 5px;
                border: 1px solid green;
                //box-shadow: 0px 0px 0px 2px #fff;
                border-radius: 50%;
                //margin-left: -20px;
            }
        }
    }
}


.team-nav,
.col.team-nav{
    max-width: 400px;
    height: 100%;

    &__title{
        color: $gray-400;
    }
}
